.sectiontwo {
    box-sizing: content-box;
    background-image: url(../../assests/img/BANNER.jpg);
    height: 1070px;
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.textsec2 {
    color: white;
    text-align: center;
    font-size: 150px;
    font-family: "Jersey 10", sans-serif;
   
    
}
.skilltec {
    display: flex;
    

}
.HTMLS {
    color: white;
    font-size: 50px;
    font-family: "Jersey 10", sans-serif;
    


}
.CSS1 {
    color: white;
    font-size: 50px;
    font-family: "Jersey 10", sans-serif;
    
}
