#princ {
    padding-top: 220px;
    padding-left: 300px;
    
}
h1 {
    font-family: "Jersey 10", sans-serif;
    color: #F25A70;
    font-size: 50px;
    text-shadow: black 3px 3px;
    border: 3px solid black;
    border: 1px solid white;
    padding: 5px;
}